<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Gereken izinler -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".StudyfyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/button_background_darkblue"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Studyfy"
        tools:targetApi="31">
        <activity
            android:name=".modules.explore.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".modules.post.PostDetailActivity"
            android:exported="false" /> <!-- Gerekli aktiviteler -->
        <activity
            android:name=".modules.explore.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".modules.library.quiz.quiz_list.QuizListActivity"
            android:exported="false" />
        <activity
            android:name=".modules.library.quiz.quiz_lessons.QuizLessonsActivity"
            android:exported="false" />
        <activity
            android:name=".modules.library.notes.NotesLessonsActivity"
            android:exported="false" />
        <activity
            android:name=".modules.library.questions.QuestionsLessonsActivity"
            android:exported="false" />
        <activity
            android:name=".modules.library.questions.QuestionsActivity"
            android:exported="false" /> <!-- PostDetailFragment büyük ihtimalle bu activity içinde -->
        <activity
            android:name=".modules.bottomBar.BottomBarActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".modules.library.report.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".modules.library.report.ReportListActivity"
            android:exported="false" />
        <activity
            android:name=".modules.library.quiz.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".modules.library.notes.NotesActivity"
            android:exported="false" />
        <activity
            android:name=".modules.settings.ui.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".modules.settings.ui.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".modules.settings.ui.SettingsActivity"
            android:exported="false" /> <!-- Giriş aktiviteleri -->
        <activity
            android:name=".modules.authentication.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.authentication.signUp.SignUpActivity"
            android:exported="false" />
    </application>

</manifest>